DATABASE_URL="mysql://root:@localhost:3306/dwistudio"
AUTH_SECRET="generate-with: npx auth secret"
AUTH_URL="http://localhost:3000"
ADMIN_EMAIL="admin@dwistudio.com"
ADMIN_PASSWORD="ChangeMe123!"

NEXT_PUBLIC_SITE_URL="http://localhost:3000"
